//SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/dts-v1/;

#include "mt7628an.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	compatible = "xiaomi,mi-router-3c", "mediatek,mt7628an-soc";
	model = "Xiaomi Mi Router 3C";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x4000000>;
	};

	aliases {
		led-boot = &led_status_amber;
		led-failsafe = &led_status_red;
		led-running = &led_status_blue;
		led-upgrade = &led_status_amber;
		label-mac-device = &ethernet;
	};

	leds {
		compatible = "gpio-leds";

		led_status_blue: status_blue {
			label = "blue:status";
			gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
		};

		led_status_red: status_red {
			label = "red:status";
			gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
		};

		led_status_amber: status_amber {
			label = "amber:status";
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
		};
	};

	keys {
		compatible = "gpio-keys-polled";
		poll-interval = <20>;

		reset {
			label = "reset";
			gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};
};

&spi0 {
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;

		partitions: partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            partition@0 {
                label = "u-boot";
                reg = <0x0 0x30000>;
                read-only;
            };

            partition@30000 {
                label = "u-boot-env";
                reg = <0x30000 0x10000>;
                read-only;
            };

            factory: partition@40000 {
                label = "factory";
                reg = <0x40000 0x10000>;
                read-only;
            };

            partition@50000 {
                label = "firmware";
                reg = <0x50000 0xf80000>;            
                compatible = "denx,uimage";
            };            
            
             /* additional partitions in DTS */
             /* https://www.right.com.cn/forum/forum.php?mod=viewthread&tid=5459952&extra=page%3D1&page=1 */
        };
	};
};
/*以上均已测试通过，勿修改*/

/*总线*/
&pinctrl {
	state_default: pinctrl0 {
		gpio {
			ralink,group = "gpio", "refclk", "wdt", "wled_an";
			ralink,function = "gpio";
		};
	};
};
/*总线*/

/*MAC地址获取地址*/
&ethernet {
	mtd-mac-address = <&factory 0x28>;
};
/*MAC地址获取地址*/

&esw {
	mediatek,portmap = <0x2f>;
		/* 无线2.4G无法开机启动怀疑是这里引起的,添加 "mediatek,portmap = <0x2f>;" 做第三次测试 */
	mediatek,portdisable = <0x2a>;
};

/*wan口默认启用*/
&wmac {
	status = "okay";
};
/*wan口默认启用*/