/dts-v1/;

#include "mt7628an.dtsi"
	@@ -9,13 +10,6 @@
	compatible = "xiaomi,mi-router-3c", "mediatek,mt7628an-soc";
	model = "Xiaomi Mi Router 3C";

	aliases {
		led-boot = &led_power_yellow;
		led-failsafe = &led_power_red;
		led-running = &led_power_blue;
		led-upgrade = &led_power_yellow;
	};

	chosen {
		bootargs = "console=ttyS0,115200";
	};
	@@ -25,90 +19,114 @@
		reg = <0x0 0x4000000>;
	};

	leds {
		compatible = "gpio-leds";

        led_power_blue: power_blue {
			label = "blue:power";
			gpios = <&gpio 11 GPIO_ACTIVE_LOW>;
		};

		led_power_yellow: power_yellow {
			label = "yellow:power";
			gpios = <&gpio 44 GPIO_ACTIVE_LOW>;
		};

		led_power_red: power_red {
			label = "red:power";
			gpios = <&gpio 5 GPIO_ACTIVE_LOW>;
		};

	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&gpio 38 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			ralink,group = "refclk", "wled_an", "gpio";
			ralink,function = "gpio";
		};
	};
};

&wmac {
	status = "okay";
};

&ethernet {
	mtd-mac-address = <&factory 0x28>;
};

&spi0 {
	status = "okay";

	m25p80@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x0 0x30000>;
				read-only;
			};

			partition@30000 {
				label = "u-boot-env";
				reg = <0x30000 0x10000>;
				read-only;
			};

			factory: partition@40000 {
				label = "factory";
				reg = <0x40000 0x10000>;
				read-only;
			};

			partition@50000 {
				compatible = "denx,uimage";
				label = "firmware";
				reg = <0x50000 0xfb0000>;
			};
		};
	};
};